{% extends "layout.html" %}
{% block content %}
  {% for travel in travels %}
    <article class="media content-section">
      <div class="media-body">
        <div class="article-metadata">
          <a class="mr-2" href="/guides/{{ travel.guide_id }}">{{ travel.guide.name }} {{ travel.guide.surname }}</a>
        </div>
        <h2><a class="article-title" href="/travels/{{ travel.id }}">{{ travel.title }}</a></h2>
        <p class="article-content">{{ travel.content }}</p>
      </div>
    </article>
  {% endfor %}
{% endblock content %}
